<div class="bg-gray-600 h-screen w-sreen">
  
    <div   *ngIf="UlterVisible" class="flex flex-row justify-start ">
        <div class=" mt-40 pl-40 text-shadow-green-100">
            <h1 class="text-green-100 text-2xl not-italic">"To tackle your tasks efficiently and accurately."</h1>
            <p class="italic text-4xl text-white font-mono m-5 font-bold">Welcome to your productivity hub!</p>
            <p class="text-lg text-white">The Home screen is the central dashboard of your To-Dos application,<br>
                designed to give you a clear and organized view of your daily tasks and priorities.</p>

            <button class="bg-green-100 mt-10 p-4 rounded-lg italic font-bold text-purple-800">Get Started </button>
        </div>

        <div class=" mt-40 pl-20 text-green-100 ">
            <img src="assets/images/to.png" alt="Image of todos " class="rounded-lg  ">
        </div>
    </div>

</div>