<div class="bg-gray-600 w-screen h-screen">

   
        <h1 class="text-green-100 text-2xl font-bold text-center ">Settings</h1>
        <div
            class=" flex flex-col justify-start ml-90 mr-90 mb-30 mt-2 h-150 border-5 border-purple-200 rounded-md bg-white">
            <div class=" flex justify-start mt-10 ml-15 ">
                <ul>
                    <P class="font-bold text-blue-400">General</P>
                    <li class="mt-2 text-black flex flex-row">
                        <label for="r1">Add new task on top </label>
                        <input type="checkbox" value="isChecked" class="toggle ml-12"  (change)='isChecked($event)'/>
                      
                        <p class="text-green-500 text-solid ml-5">{{value}}</p>
                    </li>
                    <li class="mt-2 text-black flex flex-row">
                        <label for="r1">Move starred tasks to top </label>
                        <input type="checkbox" value="isChecked" class="toggle ml-3"  (change)='isChecked1($event)'/>
                       
                        <p class="text-green-500 text-solid ml-5">{{value1}}</p>
                    </li>
                    <li class="mt-2 text-black flex flex-row">
                        <label for="r1">play completion Sound </label>
                        <input type="checkbox" id="r1" value="isChecked" class="toggle ml-7"  (change)='isChecked2($event)'/>
                       
                        <p class="text-green-500 text-solid ml-5">{{value2}}</p>
                    </li>
                    <li class="mt-2 text-black flex flex-row">
                        <label for="r1">Give a reminder after 24 hr </label>
                        <input type="checkbox" id="r1" value="isChecked" class="toggle "  (change)='isChecked3($event)'/>
                       
                        <p class="text-green-500 text-solid ml-5">{{value3}}</p>
                    </li>
                     <li class="mt-2 text-black">
                    <label for="sel">Start of the Week</label>
                    <select value="ischeckedvalue" id="sel" class=" border-2 ml-2  rounded-md" (change)="onSelectChange($event)">
                        <option>System Default</option>
                        <option>Monday</option>
                        <option>Tuesday</option>
                        <option>Wednesday</option>
                        <option>Thursday</option>
                        <option>Friday</option>
                        <option>Saturday</option>
                        <option>Sunday</option>
                    </select>
                    </li>


                </ul>
            </div>

            <div class=" flex justify-start mt-5 ml-15 ">

                <ul >
                    <P class="font-bold text-blue-400">Theme   <span class="ml-5 text-green-300"> {{themevalue}}</span> </P>
                    <li class="mt-2 text-black">   
                        <label for="r1">Light Theme </label>
                        
                        <input type="checkbox" id="r1" class="toggle ml-10 "  (change)='theme1($event)'/>

                    </li>
                    <li class="mt-2 text-black">
                        <label for="r1">Dark Theme </label>
                        
                        <input type="checkbox" id="r1" class="toggle ml-10 "  (change)='theme2($event)'/>

                    </li>
                    <li class="mt-2 text-black">
                        <label for="r1">Default Theme </label>
                        <input type="checkbox" id="r1" class="toggle ml-6 "  (change)='theme1($event)'/>
                        
                    </li>

                </ul>
            </div>
            

            

        



        </div>
    

</div>